/* Place your styles in this section */

@import url("https://use.typekit.net/hfj0jxt.css");

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  font-family: 'mr-eaves-modern', sans-serif;
  font-size: 140%;
  font-weight: 300;
  color: #4f5c5e;
}

#byline {
  text-align: center;
}

h2 {
  margin-top: -25px;
  font-size: 180%;
  font-weight: 400;
}

h3 {
  padding: 6px;
  margin-left: -5px;
  border-left: 5px solid steelblue;
  font-size: 160%;
  background-color: #4f5c5e;
  color: #ffffff;
  font-weight: 400;
}

p {
  margin-left: 10%;
}

blockquote {
  background: #F1F8FE;
  border-radius: 5px;
  margin-right: 150px;
  margin-left: -20%;
}

blockquote p {
  padding: 30px 40px 30px 20px;
  font-size: 100%;
}


.quote-text::before {
  content: '\201C';
}

.quote-text::after {
  content: '\201D';
}

.quote-text {
  padding-bottom: 0px;
}

.quote-cite {
  font-style: italic;
  text-align: right;
  padding-top: 0px;
  margin-top: 0px;
  margin-right: 5px;
  margin bottom: 20px;
}

body, html {
  margin: 0px;
  padding: 0px;
}

.full-width {
  width: 80%;
  padding: 25px;
  margin: auto;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

video {
  width: 100%;
  height: auto;
}

.sectionheader {
}

h4 {
  font-size: 125%;
  font-weight: 300;
}

.sectionheader h3 {
  font-size: 120%;
}

#thanks {
  font-style: italic;
}

#thanks span {
  color: steelblue;
}

/* for transportation map */
#map {
  height: 600px;
  width: 600px;
}

svg {
  position: relative;
}

path {
  stroke-width: 2px;
  stroke-opacity: 1;
}

.waypoints {
  fill: black;
  opacity: 0;
}

.drinks {
  stroke: black;
  fill: red;
}

.lineConnect {
  fill: none;
  stroke: #4f5c5e;
  opacity: 1;
}

.locnames {
  fill: black;
  font-weight: 400;
  font-size: 14px;
  font: mr-eaves-modern;
}

/* for attractions map */
#attractionsMap {
  width: 600px;
  height:600px;
}

.custom-popup .leaflet-popup-tip,
.custom-popup .leaflet-popup-content-wrapper {
  background-color: white;
}

.leaflet-bar {
  padding: 10px 10px 0px 10px;
  font: 12px; */
}

.leaflet-popup-tip {
    border: none !important;
}

/* for sticky */

.sticky-container {
  position: relative;
  z-index: 100;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.sticky-content {
  position: relative;
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.sticky-graphic {
  z-index: -100;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
  height: 100vh;
  flex: 1 0 50%;
  text-align: center;
}
